<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Über uns</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-4 col-lg-offset-2">
        <p>Wir sind zwei junge Heizungsbaumeister, die in der Region um Eppingen,  
          Bruchsal und Umgebung tätig sind. Unsere Firma steht für kompetente 
          Beratung, Planung und Ausführung im Bereich Heizen, Kühlen und Trinkwasser.
          Sie überlegen Ihre Heizung zu erneuern oder wollen Ihr Bad umgestalten? 
          Dann melden Sie sich über das Kontaktformular oder Rufen Sie an und wir 
          finden einen unverbindlichen Beratungstermin.
          </p>
      </div>
      <div class="col-lg-4">
        <p>  Als junger Meisterbetrieb setzen wir auf Inovationen und zukunftsgerichtete Heizsysteme insbesondere 
        Wärmepumpen, Pellet- oder Holzvergaserkessel. Des weiteren bieten wir alle Dienst- und 
        Montageleistungen im Trinkwassersektor an. Von der Wasseruhr bis zum Wasserhahn stehen wir Ihnen
        mit Rat und Tat zur Seite. </p>
      </div>
      <!-- Button mit Link, kann man vielleicht mal wieder brauchen
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
      -->
    </div>
  </div>
</section>

