<!-- jQuery Version 1.11.0 -->
<script src="{{ " js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" }}"></script>
<script src="{{ " js/classie.js" }}"></script>
<script src="{{ " js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ " js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ " js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}

<script>
// Spezielles Skript nur für den Telefonanruf-Klick
function gtag_report_conversion_call(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  if (typeof gtag === 'function') {
    gtag('event', 'conversion', {
        // HIER DEINE ANRUF-ID VON GOOGLE EINTRAGEN (NICHT die vom Formular!)
        'send_to': 'AW-18189959561/FzKGCLaypcwcEImD0-FD',
        'event_callback': callback
    });
  } else {
    callback();
  }
  return false;
}
</script>