<section id="portfolio-extra">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Die Macher</h2>
        <hr class="star-primary">
      </div>
    </div>
    
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <div class="portfolio-link">
          <img src="img/portfolio/Jacke_Forne.PNG" class="img-responsive" alt="Beschreibung 1">
          <div class="portfolio-caption" style="text-align: center; padding: 15px;">
            <h4>Tim Baden</h4>
            <p>Hier steht dein Textbaustein für das erste Bild.</p>
          </div>
        </div>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <div class="portfolio-link">
          <img src="img/portfolio/Jacke_Hinten.PNG" class="img-responsive" alt="Beschreibung 2">
          <div class="portfolio-caption" style="text-align: center; padding: 15px;">
            <h4>Alexander Härdle</h4>
            <p>Hier steht dein Textbaustein für das zweite Bild.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>