
<section id="portfolio-extra">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Die Macher</h2>
        <hr class="star-primary">
      </div>
    </div>
    
    <div class="portfolio-flex-row">

      <div class="portfolio-flex-item portfolio-item">
        <div class="portfolio-link">
          <img src="img/portfolio/Webseitenfoto.jpg" class="img-responsive" alt="Beschreibung 1">
          <div class="portfolio-caption" style="text-align: center; padding: 15px;">
            <h4>..</h4>
            <p>Hier steht dein Text.</p>
          </div>
        </div>
      </div>

      </div>
  </div>
</section>